<section class="content-header">
	<h1>
		CJ Affiliate
		<small>
			<span id="reportrange">
			</span>
		</small>
	</h1>
	<ol class="breadcrumb">
		<li><%= link_to "Home", '/' %> <i class="fa fa-dashboard"></i></li>
		<li class="active">CJ Affiliate</li>
		<li class="active">Performance</li>
	</ol>
</section>
<section class="content">
	<div class="box">
		<div class="box-body">       
			<table id="cj_datatable" class="table table-bordered table-striped nowrap">
                <thead>
	                <tr role="row">
		                <th>Date</th>
		                <th>Status</th>
		                <th>Advertiser Name</th>
		                <th>Action Name</th>
		                <th>Commission</th>
		                <th>Action Type</th>
		                <th>Locking Date</th>
	                </tr>
                </thead>
                <tbody>
                	<% @commissions.each_with_index do |commission, index| %>
						<tr role="row" class=
							<%= (index + 1) % 2 == 0 ? "\"even\"" : "\"odd\"" %> >
							<td><%= Time.parse(commission.event_date).strftime('%d %b %Y') %></td>
							<td><%= commission.action_status %></td>
							<td><%= commission.advertiser_name %></td>
							<td><%= commission.action_tracker_name %></td>
							<td>$<%= commission.commission_amount %></td>
							<td><%= commission.action_type %></td>
							<td><%= commission.locking_date %></td>
						</tr>
					<% end %>
                </tbody>
         	</table>
     	</div>
     </div>
</section>

<script>
	$(function(){
	    myDateRangePicker($('#reportrange'));
	    var table = $('#cj_datatable').DataTable({ responsive: true });
    	new $.fn.dataTable.FixedHeader( table ); 
	});
</script>

<%= stylesheet_link_tag "https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" %>
<%= stylesheet_link_tag "https://cdn.datatables.net/fixedheader/3.1.2/css/fixedHeader.bootstrap.min.css" %>
<%= stylesheet_link_tag "https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" %>
<%= javascript_include_tag "https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js" %>
<%= javascript_include_tag "https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js" %>
<%= javascript_include_tag "https://cdn.datatables.net/fixedheader/3.1.2/js/dataTables.fixedHeader.min.js" %>
<%= javascript_include_tag "https://cdn.datatables.net/responsive/2.1.1/js/dataTables.responsive.min.js" %>
<%= javascript_include_tag "https://cdn.datatables.net/responsive/2.1.1/js/responsive.bootstrap.min.js" %>

