<div class="box">
	<div class="box-body">       
		<table id="cj_datatable" class="table table-bordered table-striped nowrap">
            <thead>
                <tr role="row">
	                <th>Date</th>
	                <th>Status</th>
	                <th>Advertiser Name</th>
	                <th>Action Name</th>
	                <th>Commission</th>
	                <th>Action Type</th>
	                <th>Locking Date</th>
                </tr>
            </thead>
            <tbody>
            	<% @commissions.each_with_index do |commission, index| %>
					<tr role="row" class=
						<%= (index + 1) % 2 == 0 ? "\"even\"" : "\"odd\"" %> >
						<td><%= Time.parse(commission.event_date).strftime('%d %b %Y') %></td>
						<td><%= commission.action_status %></td>
						<td><%= commission.advertiser_name %></td>
						<td><%= commission.action_tracker_name %></td>
						<td>$<%= commission.commission_amount %></td>
						<td><%= commission.action_type %></td>
						<td><%= commission.locking_date %></td>
					</tr>
				<% end %>
            </tbody>
     	</table>
 	</div>
 </div>


<script>
	$(function(){
	    var table = $('#cj_datatable').DataTable({ responsive: true });
    	new $.fn.dataTable.FixedHeader( table ); 
	});
</script>
